/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;

  background-size: cover;
  display: flex;
  justify-content: center;
}
.heading {
  color: #ffffff;
}
.cricket {
  height: 70px;
  width: 50px;
  padding: 10px;
}
